body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    height: 31rem;
    background-color: #f0f0f0;
    width: 20rem;
    display: flex;
    flex-direction: column;
    border: 1px solid black;

}




input{
height: 20%;
background-color: white;
font-size: 2rem;
border-bottom: 1px solid black;
border-top: 0px;
border-left: 0;
border-right:0 ;
}

.buttons{
height: 1rem;
}

button{
    height: 3.2rem;
    width: 3.2rem;
    margin: 0.8rem;
    background-color: white;
    border: 1PX solid black;
    border-radius: 50%;
    font-size: 1.1rem;
}



button:nth-child(4){
    background-color: blue;
    color: white;
}

button:nth-child(8){
    background-color: #46c3db;
    color: white;
}

button:nth-child(12){
    background-color: #46c3db;
    color: white;
}

button:nth-child(16){
    background-color: #46c3db;
    color: white;
}

button:nth-child(20){
background-color: #46c3db;  
  color: white;
}
